@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>错误页面</title>
</head>
<body>
    <h1>发生错误</h1>
    <h3>
        @{
            var ex = (System.Exception)ViewData["Exception"];
            @if (ex != null)
            {
                <span>@ex.Message</span>
            }
        }
    </h3>
</body>
</html>